@charset "utf-8";
/*★*/

html {}

body {}

a {
    text-decoration: none;
}

/* header */
header {
    display: flex;
    /*width: 100%;*/
    height: 100px;
    background: #186AC9;
    align-items: center;
    padding: 30px;
}

/*justify-content: flex-end;*/
/*flex-direction: row;*/

.header-logo {
    /*margin-right: auto;*/
}

.header-logo img {
    height: 50px;
}

.header-right {
    margin-left: auto;
    color: #fff;
    font-size: 25px;
}

.header-name {
    display: inline-block;
    margin: 0px 10px;
}

.header-icon {
    display: inline-block;
}

.header-icon img {
    height: 50px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

/* メニュー */
nav {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: 20px;
    width: 330px;
    text-align: center;
}

nav ul li {
    border: 2px solid #00297e;
}

.nav-white {
    background: #fff;
    color: #959595;
    padding: 30px;
}

.nav-white:hover {
    background: #00297e;
    color: #fff;
}

.menu {
    display: inline-block;
    margin: 0px 10px;
    font-weight: 800;
    cursor: pointer;
}

.menu::before {
    /* 閉じている時 */
    content: "∨";
}

.menu.active::before {
    /* 開いている時 */
    content: "∧";
}

/* サイド */
#side-bar {
    flex: 0 0 19%;
    border-left: 2px solid #727272;
    color: #2a2a2a;
    font-weight: 800;
}

#confirm {
    padding: 20px;
}

.follow-number {
    padding-left: 20px;
    padding-bottom: 20px;
}

.follow-link {
    padding-left: 30px;
    padding-bottom: 20px;
}

.btn-primary {
    background: #186AC9;
    min-width: 140px;
}

.btn-danger {
    min-width: 140px;
}

.btn-info {
    background: #52acff;
    color: #fff;
    min-width: 140px;
}

.btn-info:hover {
    cursor: pointer;
    color: #fff;
}

.side-bottom {
    text-align: center;
}

/* 検索 */
.search {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.form {
    height: 50px;
    width: 300px;
    border: solid #959595;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    padding: 0;
}

.form::placeholder {
    color: #959595;
    padding-left: 20px;
}

.keyword {
    padding-left: 250px;
    font-size: 26px;
    font-weight: 400;
}

.search-user {
    margin-left: 25%;
}

.table {
    width: 600px;
    border: #fff;
}

.table tr td {
    padding-bottom: 30px;
}

.search-icon {
    width: 100px;
}

.search-icon img {
    height: 50px;
}

.search-name {
    width: 300px;
    font-size: 22px;
    font-weight: 400;
}

/* 【index】 */
/*投稿する*/
.container {
    display: flex;
    margin: 30px auto 30px 100px;
}

.container img {
    height: 50px;
}

.post-form {
    display: inline-block;
    width: 800px;
}

.form-control {
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 18px;
}

.form-control::placeholder {
    color: #dcdcdc;
}

.post-btn {
    align-self: flex-end;
    border: none;
    background: transparent;
}

.post-btn img {
    height: 50px;
    border-radius: 5px;
}

.post-hr {
    height: 8px;
    background-color: #a9a9a9;
    border: none;
}

/*投稿*/
.posts {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

.posts img {
    height: 50px;
    margin-left: auto;
}

.posts a {
    margin-left: auto;
}

.posts-icon {
    grid-column: 1;
    grid-row: 1 / 2;
}

.posts ul li {
    grid-column: 2;
    grid-row: 1 / 2;
}

.posts-post {
    font-size: 14px;
}

.posts-day {
    grid-column: 3;
    grid-row: 1;
    margin-left: auto;
    margin-right: 30px;
    font-size: 14px;
}

.posts-edit {
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
    margin-right: 30px;
}

.posts-edit img {
    height: 40px;
    border-radius: 5px;
}

/* Atlas投稿編集モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
}

.modal_post {
    height: 200px;
    width: 100%;
    padding: 1em;
    resize: none;
    border-radius: 0px;
    margin-bottom: 20px;
}

.modal-btn {
    text-align: center;
}

.modal-btn img {
    display: block;
    height: 40px;
}

.m {
    background: #52acff;
}

/* フォローリスト */
.follow-list {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.follow-list h2 {
    width: 300px;
    padding-left: 100px;
    /*text-align: right;
    padding-right: 1em;*/
    font-weight: 400;
}

.follow-list img {
    height: 50px;
}

.follow-list-user {
    max-width: 600px;
}

.follow-list-user img {
    margin: 0 5px 5px 0;
}

/* プロフィール編集 */
.profile-Wrapper {}

.profile {
    margin: 50px auto;
}

.profile-icon {
    text-align: right;
    padding-right: 30px;
}

.profile-icon img {
    height: 50px;
}

.profile-label {
    width: 300px;
    padding-bottom: 50px;
    font-size: 24px;
    font-weight: 400;
    vertical-align: top;
}

.input {
    height: 40px;
    width: 400px;
    background-color: #efefef;
    border: solid #959595 1px;
    font-size: 20px;
    padding-left: 0.5em;
}

.icon-Registration {
    display: none;
}

.control-label2>.icon-Registration {
    display: none;
}

.control-label2 {
    background-color: #fff;
    /*height: 100px;
    width: 400px;*/
    color: #959595;
    font-size: 20px;
    padding: 0 1em;
    margin-bottom: 10px;
}

.profile-label3 {
    background-color: #efefef;
    border: solid #959595 1px;
    text-align: center;
    padding: 5%;
}

.prv {
    display: block;
    margin: auto;
}

.profile-footer {
    padding-top: 50px;
    padding-left: 50%;
}

/* 他ユーザーのプロフ */
.profiles {
    display: flex;
    margin: 30px auto;
}

.profiles-icon {
    padding: 0 30px 0 100px;
}


.profiles-icon img {
    height: 50px;
}

.profiles-user {}

.profiles-table {
    width: 180px;
    padding-bottom: 25px;
    font-size: 20px;
}

.profiles-table2 {
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500;
}

.profiles-follow {
    margin: auto 10px 0 auto;
}
