@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

.header-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header-logo {}

.header-menu-name {}

.menu {}

.header-userimg {}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* メニュー */
nav {
    display: none;
}

.menu {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}

.menu::before {
    /* 閉じている時 */
    content: "∨";
}

.menu.active::before {
    /* 開いている時 */
    content: "∧";
}
