@charset "utf-8";
/*★*/

html {}

body {}

a {
    text-decoration: none;
}

/* header */
header {
    display: flex;
    /*width: 100%;*/
    height: 100px;
    background: #186AC9;
    align-items: center;
    padding: 30px;
}

/*justify-content: flex-end;*/
/*flex-direction: row;*/

.header-logo {
    /*margin-right: auto;*/
}

.header-logo img {
    height: 50px;
}

.header-right {
    margin-left: auto;
    color: #fff;
    font-size: 25px;
}

.header-name {
    display: inline-block;
    margin: 0px 10px;
}

.header-icon {
    display: inline-block;
}

.header-icon img {
    height: 60px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

/* メニュー */
nav {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: 20px;
    width: 330px;
    text-align: center;
}

nav ul li {
    border: 2px solid #00297e;
}

.nav-white {
    background: #fff;
    color: #959595;
    padding: 30px;
}

.nav-navy {
    background: #00297e;
    color: #fff;
    padding: 30px;
}

.menu {
    display: inline-block;
    margin: 0px 10px;
    font-weight: 800;
    cursor: pointer;
}

.menu::before {
    /* 閉じている時 */
    content: "∨";
}

.menu.active::before {
    /* 開いている時 */
    content: "∧";
}

/* サイド */
#side-bar {
    flex: 0 0 19%;
    border-left: 2px solid #727272;
    color: #2a2a2a;
    font-weight: 800;
}

#confirm {
    padding: 30px;
}

.follow-number {
    padding-left: 10px;
}

/* 検索 */
.search {
    display: flex;
}

/* Atlas投稿編集モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
